header{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/996/859/small/abstract-minimal-earth-tone-long-banner-template-organic-shapes-floral-and-leaves-background-with-copy-space-for-text-facebook-cover-free-vector.jpg);
    background-size: cover;
    width: 100%;
    height: 5000px;
}